.filters {
    background-color: white;
    display: flex;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    /* Align items from end */
    justify-content: flex-end;
    align-items: center;
}

section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    text-color: #FFFFFF;
    height: 48px;
    width: 20%;
    borders: 0px;
    border-radius: 4px;
    margin-rigth: 30px;
}

section.filters button:hover {
    opacity: 0.9;
}
