header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    width: 142px;
    height: 60px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    padding-left: 20;
}
